body{
	background-color: lightblue;
	display: flex;
	justify-content: center;
}
.top{
	border: 1px solid color: black;
	background-color: white;
	border-radius: 10px;
}
.top{
	border-top: 10px solid blue;
	margin: 10px;
	padding:0px 20px  ;
}
